.about {

  &__title {
    margin-bottom: 40px;
  }

  &__descript {
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__slider-wrapper {
    position: relative;    

  }

  &__slider {
    margin-bottom: 30px;    

    @include laptop {
      margin-bottom: 16px;
    }
  }
}

.slider {
  max-width: 1400px;  
  overflow: hidden;

  @media (max-width: 1439px) {
    max-width: 1200px;  
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    max-width: 450px;   
  }
  &__btn {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 47%;    
    background-color: transparent;
    border: none;
    background-image: url("../img/btn-left.svg");

    @include laptop {
      display: block;
    }    

    @include tablet {
      display: none;
    }    
  }

  &__btn_left {
    left: 8%;
  }
  &__btn_right {
    right: 8%;
    transform: rotate(180deg);
  }

  &__list {    
    display: flex;    
    justify-content: start;
    gap: 25px;    

    @media (max-width: 1439px) {     
      gap: calc(100% * 0.15);      
    }
  }

  &__item {
    width: 450px;
    flex-shrink: 0;
  }

  &__img {
    display: block;
  }
}
.pagination {
  display: flex;  
  justify-content: center;

  &__item {
    padding: 5px;
    cursor: pointer;
  }

  &__btn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: $second-dark;
  }

  &__btn_active {    
    background-color: $accent-color;
  }
}

.notActive {
  display: none;

  @include desktop {
    display: block;
  }
}