.auth {
  color: $main-light;
  width: 28px;
  height: 28px;  
  background-color: transparent;
  border: none;
  transition: color 0.5s;

  &:hover {
    color: $accent-color;
    transition: color 0.5s;
  }
}
