.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $main-dark;
  padding: 12px 20px;
  min-width: 550px;
  min-height: 555px;
  position: relative;

  @include tablet {
    min-width: 0;
  }

  &__recommend {    
    font-family: Forum, Georgia, serif;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize; 
    margin-bottom: 20px;

    &:after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $accent-color;
    }
  }

  &__title,
  &__author,
  &__descript {    
    font-size: 15px;        
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;    
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase; 
  }

  &__author {    
    font-weight: 700;
    text-transform: capitalize; 
    margin-bottom: 20px;
  }

  &__descript {
    text-transform: capitalize; 
    max-width: 355px;
  }

  &__btn-buy {       
    font-weight: 700;
    font-size: 10px;
    padding: 9px 27px;
    align-self:flex-start;

    &:disabled {
      border: 1px solid $accent-color;
      color: $accent-color;
      cursor:auto
    }

    &:hover:disabled {
      border: 1px solid $accent-color;
      background-color: transparent;
    }
  }

  &__img-wrap {
    position: absolute;
    bottom: -1px;
    right: -40px;
  }

  &__img {
    display: block;
  }
}