.header {
  background-color: $main-dark;
  padding: 20px 0;
  
  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    color: $main-light;
    font-family: Forum, Georgia, serif;
    font-weight: 400;
    font-size: 30px;        
    line-height: 50px;
    word-spacing: 5px;
    flex-grow: 1;     
    margin-right: calc(25% - 85px);    
    text-shadow: transparent 1px 0 5px;
    transition: text-shadow 0.3s;

    &:hover {
      text-shadow: $accent-color 1px 0 5px;
      transition: text-shadow 0.3s;
      
    }
  }

  &__link {
    transition: color 0.5s;
    
    &:hover {      
      color: $accent-color;
      transition: color 0.5s;
    }
  }

  &__nav {    
    justify-content: flex-end;
    margin-right: 40px;
  }

  &__wrap-btn {
    display: flex;
    align-items: center;
    gap: 40px;

    @include tablet {
      flex-direction: column-reverse;
      gap: 20px 0;
    }
  }

}



